$primary = bisque
$secondary = aqua
$accent = green

$success = green
$warning = yellow
$danger = red
$info = #585EF5

$white = #ffffff
$black = #000000

$title-color = #121212
$text-color = #121212
$link-color = #000000

$hover = rgba(0,0,0,.5)

$minw = 320
$maxw = 1200

$min-width = unit($minw, 'px')
$max-width = unit($maxw, 'px')
$base-bg = #FFFFFF
$base-font-size = 20px
$base-line-height = 28px
$base-font-family = 'Surt', sans-serif
$custom-font-family = 'Surt', sans-serif
$transition = all 0.25s ease-out

$font-size-h1 = 56px
$line-height-h1 = 64px
$font-size-h2 = 56px
$line-height-h2 = 64px
$font-size-h3 = 32px
$line-height-h3 = 42px

